@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700;900&display=swap');
*{
    font-size:1rem;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;

}


/*
Login
*/
.volveratras {
    display: flex;
    width: 100%;

}

.volveratras:hover{
    transition: 0.2s;
    transform: scale(1.02);
}
.volveratras i a{
    
    text-decoration: none;
    color: #fff;
}

.fondologin{
    display: grid;
    justify-content: center;
    align-items: center ;
    width: 100%;
    min-height: 100vh;
    background: url("mazda-rx7-golden-alloys-4k-bp.jpg");
    background-position: 50%;
    background-size: cover;
}
.contenedor{
    position: relative;
    width: 60vh;
    border: 2px solid rgba(255, 255, 255,.6);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor h2{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.input-container {
    position: relative;
    margin: 30px 0;
    width: 50vh;
    border-bottom: 2px solid #fff;

}

.input-container label{
    position: absolute;
    top: 50%;
    left: 2vh;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;
}

input:focus~label,
input:valid~label{
    top: -2vh;
}

.input-container input{
    width: 100%;
    height: 40%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
}

.terminos{
    margin: -15px 0 15px;
    font-size: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.terminos label {
    margin: 3px;
    font-size: 1.2rem;

}

.terminos label a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    font-size: 0.9rem;
}

.terminos input a:hover{
    text-decoration: underline;
}

.acceder{
    width: 100%;
    height: 60%;
    padding: 10px;
    border-radius: 40PX;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1REM;
    transition: .4S;
}

.acceder:hover{
    transition: 0.8s;
    background-color: #b3aeae;   
}

.registro a{
    display: flex;
    font-size: 0.9rem;
    justify-content: center ;
    margin: 20px 0 10px;
    color: #fff;
}



/* registrarse */

.fondoregister{
    display: grid;
    justify-content: center;
    align-items: center ;
    width: 100%;
    min-height: 100vh;
    background: url("datsun-240z-jdm-classic.jpg");
    background-position: 50%;
    background-size: cover;
}
.contenedor2{
    position: relative;
    width: 60vh;
    border: 2px solid rgba(255, 255, 255,.6);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2 h2{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.input-container2 {
    position: relative;
    margin: 30px 0;
    width: 50vh;
    border-bottom: 2px solid #fff;

}

.input-container2 label{
    position: absolute;
    top: 50%;
    left: 1vh;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;
}

.input-container2postal  {
    position: relative;
    margin: 30px 0;
    width: 50vh;
    border-bottom: 2px solid #fff;

}

.input-container2postal label{
    position: absolute;
    top: -30%;
    left: 1vh;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;
}

.input-container2postal input{
    width: 100%;
    height: 40%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -55px 0 5px;
}

input:focus~label,
input:valid~label{
    top: -2vh;
}

.input-container2 input{
    width: 100%;
    height: 40%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
}

.olvidar{
    margin: -15px 0 15px;
    font-size: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.olvidar label {
    margin: 3px;
    font-size: 1.2rem;

}

.olvidar label a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    font-size: 0.9rem;
}

.olvidar input a:hover{
    text-decoration: underline;
}

.acceder{
    width: 100%;
    height: 40%;
    border-radius: 40PX;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1REM;
    transition: .4S;
}

.acceder:hover{
    opacity: .9;    
}

.registro a{
    display: flex;
    font-size: 0.9rem;
    justify-content: center ;
    margin: 20px 0 10px;
    color: #fff;
}
.olvidar{
    margin: -15px 0 15px;
    font-size: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.olvidar label {
    margin: 3px;
    font-size: 1.2rem;

}

.olvidar label a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    font-size: 0.9rem;
}

.terminos input a:hover{
    text-decoration: underline;
}



/* Pagina Principal */

.menuprincipal{
    position: sticky;
    top: 0;
}
.blur{
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(40px);
}
body{
    background-color: #1E1109;
}
.menunavegacion{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr; 
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 1%;
    width: 98%;
    background-color: rgb(2, 2, 2);
    


}

.menunavegacion img{
    width: 50%;
    height: 50%;
}

.parteizquierda a{
    vertical-align: middle;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 2vh;
}

.partedelmedio{
    width: 100%;
}

.partederecha{
    display: flex;
    gap: 10px;
    align-items: center;
}


.partederecha img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.partederecha button{
    padding: 15px;
    width: 50%;
    height: 20%;
    background-color: #6600CC;
    border-radius: 20px;
    border: none;
   
}

.partederecha button a{
    text-decoration: none;
    color: white;
}

.partederecha button:hover{
    position: relative;
    transition: 0,5s;
    background-color: #5903af;     
}

.barrabusqueda{
    width: 90%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: #F6F7F8;
}       

.fondoblancobusqueda{
    background-color: #F6F7F8;
    border-radius: 30px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
   
}

.menulateral{
    position: fixed;
    height: 100vh;
    width: 30vh;
    background-color: rgb(32 23 162);
}

.menulateral div{
    margin-top: 4vh;
    margin-left: 2vh;
    width: 80%;
    height: 5%;
}

.menulateral a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.menulateral a i{
  margin-right: 1vh;
}

.menulateral div:hover{
    transition: 0,5s;
    transform: scale(1.05);
    transition: 0.7s;
    border-radius: 10px;
    
}





.contenido{
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    gap: 11px;
    display: flex;
    justify-content: center;

}
.contenido a{
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.contenido i{
    font-size: 1.4rem;
    margin-right: 1vh;
}

.contenido a:hover{
    transform: scale(1.05);
    background-color:#5903af;
    border: 0.5px solid gold;
    transition: 0.7s;
    border-radius: 10px;
    width: 15%;
    height: 30%;
    
}

.articulos{
    text-align: center;
    width: 70%;
    margin: auto;
}

.nombreuser p{
    display: flex;
    margin-top: 3vh;
    font-size: 1.3rem;
    align-items: center;
}

span{
    background: linear-gradient(blue,purple);
    -webkit-background-clip: text;
    color: transparent; 
}

.seguidores{
    margin-left: 5vh;
}

.numeros{
    font-size: 1.2rem;
}

.publicaciones{
    margin-left: 5vh;
}

.siguiendo{
    margin-left: 5vh;
}
.fondopost{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #fff;
    width: 75%;
}

.cabecerapost{
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    border-bottom: 2px solid rgb(223, 210, 136);
    padding: 2%;
}



.imagenperfil img{
    max-width: 40%;
}

.titulospost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.contenidopost{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.contenidopost img{
    max-width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    border-radius: 10px;
}

.contenidopost p{
    margin-bottom: 2vh;
    
}
.interacciones{
    margin: auto;
    background-color: #fff;
    width: 75%;
    margin-top: 2vh;
}
.interacciones button{
    margin: 1vh;
    border: none;
    border-radius: 5%;
    background-color: #fff;
    
}

.megusta:hover{
    transition: 0.5s ease;
    color: red;
    border-radius: 5%;
}

.comentar:hover{
    color: #a02d04;
    border-radius: 5%;
    transition: 0.5s ease;
}

.compartir:hover{
    color: green;
}

.guardar:hover{
    color: rgb(131, 139, 6);
}
.containerblanco{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 75%;
        background-color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin: auto;   
        margin-bottom: 10%;
}
/* perfil */


.fondoperfil{
    background: rgb(246, 246, 246);
}
.perfilcontent{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fotobanner{
    display: flex;
    justify-content: center;
    width: 100%;
}
.fotobanner img{
    margin-top: 2vh;
    max-width: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.infouser{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.numerofw{
    color: #5903af;
}
p.numerofw strong{
    font-size: 1.6rem;
}
    

.follows {
    font-size: 1.6rem;
}

.useryfoto{
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.useryfoto img{
    border-radius: 90%;
    width: 140px;
    height: 130px;
    background-size: cover;
}

.useryfoto p span{
    font-size: 1.5rem;
}

.useryfoto p{
    padding-top: 3%;
}

.garaje{
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo{
    padding-right: 25%;
    margin-top: 2vh;
    
}

.titulo h2{
    font-size: 1.5rem;
}

.añadircochegaraje{
    background-color: #5903af;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 25%;
    border-radius: 40px;
    padding: 3%;
    color: white;
}

.añadircochegaraje img{
    margin-top: 2vh;
    max-width: 65%;
    border-radius: 20%;
}

.detalles{
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.intereses{
    display: flex;
    gap: 20px;
}

.intereses p{
    font-size: 1.3rem;
    background-color: rgb(206, 205, 205);
    color: black ;
    border-radius: 10px;
    width: 100%;
}
.marcasfav{
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.marcasfav div{
    display: flex;
    gap: 30px;
  
}

.marcasfav div p{
    background-color: rgb(206, 205, 205);
    color: black ;
    border-radius: 10px;
    font-size: 1.4rem;
}